@import "styles/vars.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  height: 48px;
  width: 1440px;
  gap: 5px;
  &__img {
    width: 206px;
    height: 37px;
  }
}
