@import "../../../styles/vars";


.cart {
  height: 100vh;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17141d;
  color: white;
  z-index: 100;
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s linear;
  margin-left: 200px;
}

.cart.active {
  transform: translateX(0);
}
