.author__banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333c4a;
  background-color: #f6f7d3;
  height: 711px;
  &__about {
    margin: 150px 66px;
    font-size: 24px;
    & h3 {
      border-bottom: 1px solid;
    }
    & h1 {
      font-size: 56px;
    }
    & p {
      font-size: 15px;
    }
    & button {
      width: 361px;
    }
  }
}
