.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__imgs {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #30cb70;

    &__imgCard {
      width: 200px;
      height: 280px;
      overflow: hidden;
      border-radius: 10px;
    }

    &__imgFavorite {
      position: absolute;
      top: 20px;
      left: 0;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
      background-color: #30cb70;
      padding: 10px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }

  &__details {
    width: 100%;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #30cb70;
    }

    & span {
      font-size: 14px;
      color: #666;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
  }
  & button {
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    transition: border-color 0.25s;
    color: #30cb70;
    background-color: white;
    border: 1px solid rgba($color: #30cb70, $alpha: 65%);
  }
}
