@import "styles/vars.scss";

.books {
  display: flex;
  width: auto;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 30px;
  margin: 0;
  &__img {
    background-color: rgba($color: #30cb70, $alpha: 61%);
    width: 276px;
    height: 295px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & img {
      position: absolute;
      width: 190px;
      height: 280px;
      margin-top: -70px;
      border-radius: 8px;
    }
  }

  &__details {
    width: 300px;
    margin-left: 25px;
    & h3 {
      color: #393d4a;
    }
    & p {
      color: rgba($color: #393d4a, $alpha: 48%);
    }
    & a {
      text-decoration: none;
      color: #9747ff;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  &__delete {
    cursor: pointer;
    width: 276px;
    color: white;
    background-color: rgba($color: #30cb70, $alpha: 61%);
    display: flex;
    justify-content: center;
  }
}
