@import "styles/vars.scss";

.books {
  display: flex;
  width: auto;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  &__img {
    background-color: rgba($color: #30cb70, $alpha: 61%);
    width: 276px;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0 0 ;

    & img {
      position: absolute;
      width: 190px;
      height: 280px;
      margin-top: -70px;
      border-radius: 1rem 1rem 0  0;
    }
  }

  &__details {
    width: 276px;
    & h3 {
      color: #393d4a;
    }
    & p {
      color: rgba($color: #393d4a, $alpha: 48%);
    }
    & a {
      text-decoration: none;
      color: #9747ff;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  &__delete {
    width: 276px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 0 0 1rem 1rem;
    background-color: rgba($color: #30cb70, $alpha: 61%);
    color: #393d4a;
    cursor: pointer;
  }
}
