@import "styles/vars.scss";

.ourblog {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #393d4a;
  color: #393d4a;
  & h1 {
    font-size: 56px;
    color: #2f327d;
  }

  &__blog {
    margin: 100px 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #badcc8;
      width: 516px;
      height: 586px;

      & img {
        width: 466px;
        height: 258px;
      }
      & h2 {
        color: #393d4a;
      }
      & button {
        width: 208px;
      }
      & p {
        margin: 25px;
      }
    }
  }
}
